footer
  .footer-container
    .footer-content
      .footer-column
        h3 Về chúng tôi
        p Chúng tôi là công ty chuyên cung cấp giải pháp phần mềm và dịch vụ IT với đội ngũ chuyên nghiệp.
      .footer-column
        h3 Dịch vụ
        ul
          li: a(href="#") Thiết kế website
          li: a(href="#") Phát triển ứng dụng
          li: a(href="#") Tư vấn IT
          li: a(href="#") Bảo trì hệ thống
      .footer-column
        h3 Liên hệ
        p
          i.fas.fa-map-marker-alt
          |  123 Đường ABC, Quận 1, TP.HCM
        p
          i.fas.fa-phone
          |  +84 123 456 789
        p
          i.fas.fa-envelope
          |  info@company.com
      .footer-column
        h3 Theo dõi chúng tôi
        ul.social-icons
          li
            a(href="#")
              i.fab.fa-facebook-f
          li
            a(href="#")
              i.fab.fa-twitter
          li
            a(href="#")
              i.fab.fa-instagram
          li
            a(href="#")
              i.fab.fa-linkedin
    .footer-bottom
      p © 2024 Công ty TNHH ABC. All rights reserved.
