link(rel="stylesheet", href="/css/partial.css")

.navbar-vertical.d-flex.flex-column.align-items-start
  .navbar-header.d-flex.align-items-center
    img(src="/image/image.png", alt="ảnh lỗi", class="logo")
    h3 Clothing Store
  a.nav-link.ms-3(href="http://localhost:3000/users")
    .icon-container
      i.fa-light.fa-user

    .text-container
      span User
  a.nav-link.ms-3(href="http://localhost:3000/admin")
    .icon-container
      i.fa-light.fa-user-shield
    .text-container
      span Admin
  a.nav-link.ms-3(href="http://localhost:3000/employee")
    .icon-container
      i.fa-light.fa-users-cog
    .text-container
      span Employee
  a.nav-link.ms-3(href="http://localhost:3000/customer")
    .icon-container
      i.fa-light.fa-user-tie
    .text-container
      span Customer
  a.nav-link.ms-3(href="http://localhost:3000/product")
    .icon-container
      i.fa-light.fa-cogs
    .text-container
      span Product
  a.nav-link.ms-3(href="http://localhost:3000/order")
    .icon-container
      i.fa-light.fa-box
    .text-container
      span Order
  a.nav-link.ms-3(href="http://localhost:3000/inventory")
    .icon-container
      i.fa-light.fa-warehouse
    .text-container
      span Inventory 
  a.nav-link.ms-3(href="http://localhost:3000/supplier")
    .icon-container
      i.fa-light.fa-truck
    .text-container
      span Supplier
